:root {
    --text-color-white: #EDEBEB;
    --gray-color: #3E3E37;
    --accent-color: #13120A;
    --btn-hover-color: #ECECEC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--accent-color);
}

body {
    max-width: 1380px;
    margin: 0px auto;
    position: relative;
}

header {
    padding: 14px 60px;
    position: sticky;
    top: 0;
    z-index: 2;
}

#nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14120B;
    color: var(--text-color-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#nav-center-button-container {
    display: flex;
    gap: 30px;
}


a {
    color: var(--text-color-white);
    text-decoration: none;
    font-size: smaller;
    font-weight: 200;
}

#nav-center-button-container a:hover {
    color: #CCCCCC;
}

.nav-child {
    cursor: pointer;
}

button {
    background-color: #333;
    box-shadow: unset;
    border: 0.5px solid white;
    color: white;
    padding: 6px 12px;
    border-radius: 26px;
    cursor: pointer;
}

#sign-in-btn {
    border: none;
    background-color: var(--accent-color);
    border: 1px solid var(--gray-color);
}

#sign-in-btn:hover {
    background-color: #212121;
}

#download-btn,
#get-started-btn {
    background-color: var(--text-color-white);
    color: var(--accent-color);
}

#download-btn:hover,
#get-started-btn:hover {
    background-color: #CCCCCC;
}





main {
    color: var(--text-color-white);
    padding: 14px 36px;
}


#home-section {
    padding-top: 112px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 68px;
    width: 100%;
}

#home-section-text-content {
    max-width: 520px;
    margin-bottom: 56px;
}

.home-section-para {
    margin-bottom: 24px;
    font-size: 26px;
    font-weight: 80;
    line-height: 1.3;
}

#get-started-btn {
    padding: 12px 24px;
    font-size: medium;
}

#get-started-btn i {
    background-color: transparent;
}

#hero-image {
    border-radius: 8px;
}





#trusted-by-section {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

.trusted-by-heading {
    color: #ECEBEB;
    font-size: 0.95rem;
    font-weight: 400;
    margin-bottom: 36px;
}


#trusted-by-logos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
}

/* Card */
.logo-box {
    height: 96px;
    background: linear-gradient(180deg,
            #1b1912 0%,
            #14120b 100%);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s ease, border 0.2s ease;
}



.logo-box img {
    max-height: 38px;
    width: auto;
    opacity: 0.9;
}




#features-section {}


.features-container {
    height: 715px;
    background-color: #1B1912;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 6px;
    margin-bottom: 60px;
}

/* Left: 4 columns */
.feature-text {
    background-color: transparent;
    padding-left: 14px;
    grid-column: span 4;
}

/* Text */
.feature-text h2 {
    background-color: transparent;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.feature-text p {
    background-color: transparent;
    color: #b9b9b9;
    font-size: 1.4rem;
    line-height: 1.4;
    max-width: 380px;
    margin-bottom: 24px;
}

.feature-link {
    color: #F44E01;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.feature-link:hover {
    color: #d25216;
}

/* Right: 8 columns */
.feature-image {
    height: 100%;
    grid-column: span 8;
    position: relative;
    padding: 16px;
    border-radius: 6px;
    background-color: transparent;
}

/* Main image */
.main-img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 6px;
}

/* Top image (smaller) */
.top-img-section-1 {
    position: absolute;
    top: 7.4%;
    left: 51.9%;
    transform: translateX(-50%);
    width: 92.6%;
    height: 85%;
    opacity: 0.95;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}



.top-img-section-2 {
    position: absolute;
    top: 7.4%;
    left: 50%;
    transform: translateX(-50%);
    width: 78%;
    height: 67%;
    opacity: 0.95;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.main-img-section-3 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 6px;
}



.top-img-section-3-down {
    width: 60%;
    height: 50%;
    position: absolute;
    top: 7.4%;
    left: 40%;
    transform: translateX(-50%);
    opacity: 0.95;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.top-img-section-3-up {
    width: 65%;
    height: 58%;
    position: absolute;
    top: 34%;
    left: 60%;
    transform: translateX(-50%);
    opacity: 0.95;
    z-index: 3;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}