:root {
    --text-color-white: #EDEBEB;
    --gray-color: #3E3E37;
    --accent-color: #13120A;
    --btn-hover-color: #ECECEC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    max-width: 1380px;
    margin: 0px auto;
    position: relative;
    background-color: var(--accent-color);
}

header {
    padding: 14px 60px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #14120B;
}

#nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: var(--text-color-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#nav-center-button-container {
    display: flex;
    gap: 30px;
}


#nav-center-button-container a {
    color: var(--text-color-white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 6 ;
    color: #EDECEC;
}

#nav-center-button-container a:hover {
    color: #CCCCCC;
}

.nav-child {
    cursor: pointer;
}

button {
    background-color: #333;
    box-shadow: unset;
    border: 0.5px solid white;
    color: white;
    padding: 6px 12px;
    border-radius: 26px;
    cursor: pointer;
}

#sign-in-btn {
    border: none;
    background-color: var(--accent-color);
    border: 1px solid var(--gray-color);
}

#sign-in-btn:hover {
    background-color: #212121;
}

#download-btn,
#get-started-btn {
    background-color: var(--text-color-white);
    color: var(--accent-color);
}

#download-btn:hover,
#get-started-btn:hover {
    background-color: #CCCCCC;
}





main {
    color: var(--text-color-white);
    padding: 14px 36px;
}


#home-section {
    padding-top: 112px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 68px;
    width: 100%;
}

#home-section-text-content {
    max-width: 520px;
    margin-bottom: 56px;
}

.home-section-para {
    margin-bottom: 24px;
    font-size: 26px;
    font-weight: 20;
    line-height: 1.3;
}

#get-started-btn {
    padding: 12px 24px;
    font-size: medium;
}

#get-started-btn i {
    background-color: transparent;
}

#hero-image {
    border-radius: 8px;
}





#trusted-by-section {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

.trusted-by-heading {
    color: #ECEBEB;
    font-size: 0.95rem;
    font-weight: 400;
    margin-bottom: 36px;
}


#trusted-by-logos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
}

/* Card */
.logo-box {
    height: 96px;
    background: linear-gradient(180deg,
            #1b1912 0%,
            #14120b 100%);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s ease, border 0.2s ease;
}



.logo-box img {
    max-height: 38px;
    width: auto;
    opacity: 0.9;
}




#features-section {
    margin-bottom: 80px;
}


.features-container {
    height: 715px;
    background-color: #1B1912;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 6px;
    margin-bottom: 60px;
}

/* Left: 4 columns */
.feature-text {
    background-color: transparent;
    padding-left: 14px;
    grid-column: span 4;
}

/* Text */
.feature-text h2 {
    background-color: transparent;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.feature-text p {
    background-color: transparent;
    color: #b9b9b9;
    font-size: 1.4rem;
    line-height: 1.4;
    max-width: 380px;
    margin-bottom: 24px;
}

.feature-link {
    color: #F44E01;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.feature-link:hover {
    color: #d25216;
}

/* Right: 8 columns */
.feature-image {
    height: 100%;
    grid-column: span 8;
    position: relative;
    padding: 16px;
    border-radius: 6px;
    background-color: transparent;
}

/* Main image */
.main-img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 6px;
}

/* Top image (smaller) */
.top-img-section-1 {
    position: absolute;
    top: 7.4%;
    left: 51.9%;
    transform: translateX(-50%);
    width: 92.6%;
    height: 85%;
    opacity: 0.95;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}



.top-img-section-2 {
    position: absolute;
    top: 7.4%;
    left: 50%;
    transform: translateX(-50%);
    width: 78%;
    height: 67%;
    opacity: 0.95;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.main-img-section-3 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 6px;
}



.top-img-section-3-down {
    width: 60%;
    height: 50%;
    position: absolute;
    top: 7.4%;
    left: 40%;
    transform: translateX(-50%);
    opacity: 0.95;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.top-img-section-3-up {
    width: 65%;
    height: 58%;
    position: absolute;
    top: 34%;
    left: 60%;
    transform: translateX(-50%);
    opacity: 0.95;
    z-index: 3;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

#feature-card-section {
    width: 100%;
    padding: 70px 20px;
}

#feature-card-section h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 64px;
}



.card-container {
    max-width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.card {
    background: linear-gradient(180deg,
            #1b1912 0%,
            #14120b 100%);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 6px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 220px;
    gap: 34px;
}


.card p {
    background-color: transparent;
    color: #cfcfcf;
    font-size: 0.95rem;
    line-height: 1.6;
}

/* Footer */
.card-foot {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.card-foot img {
    width: 36px;
    height: 36px;
    border-radius: 8px;
}

.card-foot .name {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
}

.card-foot .role {
    color: #9a9a9a;
    font-size: 0.8rem;
}



#testimonials {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
}

#testimonials h2 {
    font-size: 26px;
    font-weight: 14;
}

.quote-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
}

.quote-card {
    overflow: hidden;
    border: 1px solid #201E18;
    border-radius: 6px;
    background-color: #1B1912;
    padding: 16px 18px 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote-card h3,
p,
a {
    background: transparent;
}

.quote-card h3,
a {
    font-size: 16px;
    font-weight: 6;
}

.quote-card a {
    color: #F64E00;
}

.quote-card a:hover {
    color: #d25216;
}

.quote-card p {
    font-size: 16px;
    font-weight: 4;
    color: #999895;
}

.quote-card-image {
    border-radius: 6px;
    text-align: center;
    object-fit: contain;
}




/* Changelog Section */
.changelog {
    padding: 68px 20px;
}

.changelog h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 32px;
}


.changelog-cards {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}


.changelog-card {
    background: #1B1912;
    border-radius: 8px;
    padding: 22px;
    width: 320px;
    min-height: 130px;
    border: 1px solid #201E18;
}

.changelog-card:hover {
    background-color: #211f18;
}

.meta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
    background: transparent;
}

.version {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 999px;
    padding: 2px 10px;
    font-size: 14px;
    color: #dcdcdc;
    background: transparent;
}

.date {
    font-size: 14px;
    color: #a9a9a9;
    background: transparent;
}

.title {
    font-size: 15px;
    font-weight: 0;
    line-height: 1.4;
    color: #E4E3E3;
}

.link {
    display: inline-block;
    margin-top: 10px;
    color: #ff6a3d;
    font-size: 16px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}


.team-section {
    padding: 68px 20px;
}

.team-section-container {
    background-color: #1B1912;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    align-items: center;
    border: 1px solid #201E18;
    border-radius: 6px;
    margin-bottom: 60px;
}


.team-section-text {
    background-color: transparent;
    padding-left: 14px;
    grid-column: span 4;
}

.team-section-text p {
    font-size: 22px;
    padding-bottom: 20px;
    line-height: 1.4;
}

.team-section-link {
    color: #F44E01;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.team-section-link:hover {
    color: #d25216;
}

.team-section-image {
    height: 100%;
    grid-column: span 8;
    position: relative;
    padding: 16px;
    border-radius: 6px;
    background-color: transparent;
}



.highlights-section {
    width: 100vw;
    background-color: #1B1913;
    padding: 90px 20px;
    margin-left: -66px;
}

.highlights-container {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 20px;
    padding: 68px;
}

/* Left column */
.highlights-left {
    background: transparent;
    grid-column: span 5;
}

.highlights-left h3 {
    font-size: 18px;
    font-weight: 400;
    color: #cfcfcf;
}

/* Right column */
.highlights-right {
    grid-column: span 15;
    width: 670px;
}

.highlight-card {
    background-color: #201E18;
    border-radius: 6px;
    padding: 14px 15px 15px;
    margin-bottom: 16px;
}

.highlight-card:hover {
    background-color: #25231f;
}

.highlight-card h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #f1f1f1;
    background: transparent;
}

.highlight-card p {
    font-size: 15px;
    line-height: 1.6;
    color: #bdbdbd;
    margin-bottom: 14px;
}

.highlight-card .meta {
    font-size: 14px;
    color: #9a9a9a;
}

.view-more {
    display: inline-block;
    margin-top: 12px;
    color: #F44E01;
    font-size: 16px;
    text-decoration: none;
}

.view-more:hover {
    color: #d25216;
}




.final-cta-section {
    background-color: #13120A;
    padding: 135px 20px;
}

.final-cta-container {
    margin: 0px 28px;
    text-align: center;
}

.final-cta-container h1 {
    margin: 0px 0px 23px;
    font-size: 65px;
    font-weight: 5;
}





.footer-links-section {
    width: 100vw;
    background-color: #1B1913;
    padding: 68px 30px 30px;
    margin-left: -66px;
}

.footer-links-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
    padding: 0px 40px ;
}

/* Column Heading */
.footer-col h4 {
    font-size: 15px;
    font-weight: 500;
    color: #9a9a9a;
    margin-bottom: 16px;
}

/* Links */
.footer-col a {
    display: block;
    font-size: smaller;
    color: #D4D3D2;
    text-decoration: none;
    margin-bottom: 12px;
}

.footer-col a:hover {
    color: #b4b3b3;

}

.footer-para{
    padding: 0px 40px ;
    margin: 64px 0px 0px;
    color: #A5A4A2;
}

.footer-para span{
    font-size: 14px;
    font-weight: 3;
}